body {background-color:rgb(157, 52, 52);font-family: arial; color: white;}
h1{color:grey; font-family: verdana; text-align: center;}
.maindiv{
    margin: auto;
    background-color:white;
    color:black;
    width: 500px;
    padding: 25px;
    border-radius: 25px;
    
}

#compute
{
    margin-bottom: 10px;
    background-color: purple;
    color: white;
    border-radius: 8px;
    font-family: tahoma;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    height: 50px;
    width: 150px;
}



